body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 239, 231);
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  background-color: rgb(255, 239, 231);
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 20px;
}
.navbar p {
  font-size: 30px;
  line-height: 39px;
  color: #7C6A0A;
  font-style: normal;
  font-weight: 500;
  padding-left: 90px;
}
.navbar .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-right: 90px;
}
.navbar .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.navbar .icons svg {
  stroke: #7C6A0A;
  width: 36px;
  height: 36px;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    width: 100vw;
    color: #7C6A0A;
    padding: 20px;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  background-color: rgb(255, 239, 231);
  color: #7C6A0A;
  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;
  padding-top: 80px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 40px;
}
article .impact-section h1 {
  font-size: "IBM Plex Sans", sans-serif;
  font-size: 3em;
  padding-top: 50px;
  margin: 0;
}
article .impact-section p {
  font-size: 1.5em;
}
article .impact-section button {
  background: none;
  border-style: none;
  cursor: pointer;
}
article .impact-section button {
  background-color: #FA9500;
  width: 261px;
  height: 73px;
  border-radius: 35px;
  color: rgb(255, 239, 231);
  font-size: 22.99px;
  padding: 20px;
}
article .impact-section button:hover {
  transform: scale(1.1);
}
article .image-section {
  background-color: rgb(255, 239, 231);
}
article .image-section img {
  width: 25vw;
  border-radius: 19px;
  cursor: pointer;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  article {
    width: auto;
    height: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  article .image-section {
    justify-items: center;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  article .image-section img {
    width: 80vw;
    border-radius: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: border-box;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  article {
    width: 100vw;
    height: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
  }
  article .impact-section {
    margin-left: 70px;
  }
  article .image-section {
    justify-items: center;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 20px;
  }
  article .image-section img {
    width: 80vw;
    border-radius: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: border-box;
  }
}

section {
  width: auto;
  height: auto;
  padding: 40px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
  font-family: "IBM Plex Sans", sans-serif;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  section .healthcare h2, section .furniture h2 {
    text-align: center;
  }
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  flex-wrap: wrap;
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  width: 15vw;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .card-section .product-card:hover, section .furniture .card-section .product-card:hover {
  transform: scale(1.1);
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 16vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 10px;
}
section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
  width: 25px;
  height: 25px;
  stroke: #7C6A0A;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  section .healthcare .card-section, section .furniture .card-section {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 25px;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 30vw;
  }
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  section .healthcare .card-section, section .furniture .card-section {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    width: auto;
    height: auto;
    justify-content: flex-start;
    color: #7C6A0A;
    padding: 20px;
    margin-left: 20px;
    row-gap: 10px;
  }
  section .healthcare .card-section h3, section .furniture .card-section h3 {
    text-align: center;
  }
  section .healthcare .card-section p, section .furniture .card-section p {
    text-align: center;
    width: 70vw;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 70vw;
    height: auto;
  }
  section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
    width: 65vw;
    padding-left: 10px;
  }
  section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
    width: 100vw;
  }
}
section .furniture .card-section .product-card {
  background-color: #BABD8D;
  color: rgb(255, 239, 231);
}
section .furniture .card-section .product-card .icon svg {
  stroke: rgb(255, 239, 231);
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
  font-style: normal;
}
.about-us .mision-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-us .mision-section .earth, .about-us .mision-section .innovation {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 30vw;
  color: #E86424;
}
.about-us .mision-section .earth img, .about-us .mision-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mision-section .earth p, .about-us .mision-section .innovation p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .about-us .mision-section {
    display: inline-block;
    row-gap: 10px;
    width: auto;
    padding: 20px;
  }
  .about-us .mision-section .earth, .about-us .mision-section .innovation {
    display: inline-flex;
    flex-direction: column;
    margin-right: 80px;
    margin-bottom: 30px;
  }
  .about-us .mision-section .earth img, .about-us .mision-section .innovation img {
    width: 30vw;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding-left: 80px;
  }
  .about-us .mision-section .earth p, .about-us .mision-section .innovation p {
    font-size: 1.3rem;
    width: 80vw;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .about-us .mision-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .about-us .mision-section .earth, .about-us .mision-section .innovation {
    display: inline-flex;
    flex-direction: column;
    -moz-column-gap: 6px;
         column-gap: 6px;
    justify-content: center;
    align-items: center;
  }
  .about-us .mision-section .earth img, .about-us .mision-section .innovation img {
    width: 20vw;
    height: auto;
    background-size: cover;
    background-position: center;
  }
  .about-us .mision-section .earth p, .about-us .mision-section .innovation p {
    width: 40vw;
  }
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .about-us h2 {
    text-align: center;
  }
}

.gallery {
  padding-bottom: 60px;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
  font-style: normal;
}
.gallery .galery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gallery .galery-images img {
  width: 30vw;
  height: 75vh;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
}
.gallery .galery-images img:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .gallery .galery-images {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 30px;
    width: auto;
    height: auto;
    justify-content: flex-start;
  }
  .gallery .galery-images img {
    width: 80vw;
  }
}

.location {
  color: #E86424;
}
.location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .location .map img {
    width: 85vw;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: contain;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .location .map img {
    width: 85vw;
    padding-left: 40px;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.location h3,
.location p {
  font-size: 1.5em;
}

.footer {
  background-color: #FA9500;
  width: 100vw;
  height: auto;
  padding: 40px;
  color: white;
}
.footer h3 {
  font-size: 1.5em;
}
.footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.footer .social-media img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .footer .social-media {
    padding-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */