body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 239, 231);
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  background-color: rgb(255, 239, 231);
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #7C6A0A;
  padding: 20px;
}
.navbar p {
  font-size: 30px;
  line-height: 39px;
  color: #7C6A0A;
  font-style: normal;
  font-weight: 500;
  padding-left: 90px;
}
.navbar .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 90px;
}
.navbar .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.navbar .icons button svg {
  stroke: #7C6A0A;
  width: 36px;
  height: 36px;
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    gap: 20px;
    width: 100vw;
    justify-content: end;
    color: #7C6A0A;
    padding: 20px;
  }
}

article {
  width: auto;
  background-color: rgb(255, 239, 231);
  color: #7C6A0A;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  gap: 10px;
  padding-top: 80px;
  justify-content: space-around;
  -moz-column-gap: 200px;
       column-gap: 200px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
article .impact-section h1 {
  font-size: "IBM Plex Sans", sans-serif;
  font-size: 3em;
  padding-top: 50px;
  margin: 0;
}
article .impact-section p {
  font-size: 1.5em;
}
article .impact-section button {
  background-color: #FA9500;
  width: 261px;
  height: 73px;
  border-radius: 35px;
  color: rgb(255, 239, 231);
  font-size: 22.99px;
  padding: 20px;
  cursor: pointer;
}
article .image-section {
  background-color: rgb(255, 239, 231);
}
article .image-section img {
  width: 25vw;
  border-radius: 19px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  article {
    width: 100vw;
    height: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  article .image-section {
    justify-items: center;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  article .image-section img {
    width: 80vw;
    border-radius: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: border-box;
  }
}
@media only screen and (max-width: 800px) {
  article {
    width: 100vw;
    height: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
  }
  article .impact-section {
    margin-left: 70px;
  }
  article .image-section {
    justify-items: center;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 20px;
  }
  article .image-section img {
    width: 80vw;
    border-radius: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: border-box;
  }
}

section {
  width: auto;
  height: auto;
  padding: 40px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
  font-family: "IBM Plex Sans", sans-serif;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  section .healthcare h2, section .furniture h2 {
    text-align: center;
  }
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  flex-wrap: wrap;
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  width: 15vw;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 16vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 10px;
}
section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
  width: 25px;
  height: 25px;
  stroke: #7C6A0A;
}
@media only screen and (max-width: 1180px) {
  section .healthcare .card-section, section .furniture .card-section {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 25px;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 30vw;
  }
}
@media only screen and (max-width: 600px) {
  section .healthcare .card-section, section .furniture .card-section {
    display: grid;
    grid-template-columns: 1px;
    width: auto;
    height: auto;
    justify-content: flex-start;
    color: #7C6A0A;
    padding: 20px;
    margin-left: 20px;
    row-gap: 20px;
  }
  section .healthcare .card-section h3, section .furniture .card-section h3 {
    text-align: center;
  }
  section .healthcare .card-section p, section .furniture .card-section p {
    text-align: center;
    width: 70vw;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 70vw;
    height: auto;
  }
  section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
    width: 65vw;
    padding-left: 10px;
  }
  section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
    width: 100vw;
  }
}
.footer {
  background-color: #FA9500;
  width: 100%;
  height: 461px;
}/*# sourceMappingURL=main.css.map */