//Definicion de Variables globales de color y tipografia 

$color-primary: rgba(255, 239, 231, 1);
$color-secundary: #FFDAC6;
$color-terciary: #BABD8D;
$text-primary-color: #7C6A0A;
$color-footer-container: #FA9500;
$color-text-map: rgba(232, 100, 36, 1);
$font-stack: 'IBM Plex Sans',
    sans-serif;
$paragraph-size: 1.5em;


//Definicion de estilos del body de la pagina

body {
    margin: 0px;
    padding: 0px;
    background-color: $color-primary;
    font-family: $font-stack;


}

//definicion de estilos del navbar de la pagina web

.navbar {
    background-color: $color-primary;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-primary-color;
    padding: 20px;

    p {
        font-size: 30px;
        line-height: 39px;
        color: $text-primary-color;
        font-style: normal;
        font-weight: 500;
        padding-left: 90px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: 90px;


        button {
            background: none;
            border-style: none;
            cursor: pointer;

            svg {
                stroke: $text-primary-color;
                width: 36px;
                height: 36px;
            }
        }
    }

    @media only screen and (max-width: 600px) {

        display: flex;
        gap: 20px;
        width: 100vw;
        justify-content: end;
        color: $text-primary-color;
        padding: 20px;

    }

}

article {

    width: auto;
    background-color: $color-primary;
    color: $text-primary-color;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 10px;
    padding-top: 80px;
    justify-content: space-around;
    column-gap: 200px;

    .impact-section {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        h1 {
            font-size: $font-stack;
            font-size: 3em;
            padding-top: 50px;
            margin: 0;
        }

        p {
            font-size: $paragraph-size;
        }

        button {
            background-color: $color-footer-container;
            width: 261px;
            height: 73px;
            border-radius: 35px;
            color: $color-primary;
            font-size: 22.99px;
            padding: 20px;
            cursor: pointer;
        }
    }

    .image-section {
        background-color: $color-primary;

        img {
            width: 25vw;
            border-radius: 19px;
            cursor: pointer;

        }
    }

    @media only screen and (max-width: 600px) {

        width: 100vw;
        height: auto;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;

        .image-section {

            justify-items: center;
            margin-left: -10px;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: -20px;
            padding: 20px;
            justify-content: center;
            align-items: center;

            img {
                width: 80vw;
                border-radius: 15px;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-clip: border-box;
            }



        }
    }

    @media only screen and (max-width: 800px) {

        width: 100vw;
        height: auto;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        justify-content: center;
        align-items: center;

        .impact-section {
            margin-left: 70px;
        }

        .image-section {

            justify-items: center;
            margin-left: 40px;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: -20px;
            padding: 20px;

            img {
                width: 80vw;
                border-radius: 15px;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-clip: border-box;
            }


        }
    }

}




//definicion estilos de los main section 

section {
    width: auto;
    height: auto;
    padding: 40px;

    h2 {
        color: $text-primary-color;
        font-size: 2em;
        font-family: $font-stack;
    }

    .healthcare {
        padding-bottom: 60px;

        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        @media only screen and (max-width: 600px) {
            h2 {
                text-align: center;
            }
        }

        .card-section {
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            align-items: center;
            column-gap: 200px;
            row-gap: 80px;
            flex-wrap: wrap;

            .product-card {
                width: 15vw;
                height: auto;
                background-color: $color-secundary;
                color: $text-primary-color;
                padding: 20px;
                border-radius: 8px;


                .product-image {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 16vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                .icon {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
                    padding-left: 15px;
                    padding-top: 1px;
                    padding-bottom: 10px;

                    svg {
                        width: 25px;
                        height: 25px;
                        stroke: $text-primary-color;
                    }

                }
            }

            @media only screen and (max-width: 1180px) {

                justify-content: center;
                align-items: center;
                width: auto;
                height: auto;
                display: inline-flex;
                flex-direction: row;
                column-gap: 70px;
                row-gap: 25px;

                .product-card {
                    width: 30vw;
                }

            }

            @media only screen and (max-width: 600px) {
                display: grid;
                grid-auto-flow: column;
                overflow-x: scroll;
                width: auto;
                height: auto;
                justify-content: flex-start;
                color: $text-primary-color;
                padding: 20px;
                margin-left: 20px;
                row-gap: 10px;

                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    width: 70vw;
                }

                .product-card {

                    width: 70vw;
                    height: auto;

                    .product-image {
                        width: 65vw;
                        padding-left: 10px;

                        img {
                            width: 100vw;
                        }
                    }
                }
            }






        }




    }

    .furniture {
        @extend .healthcare;

        .card-section {

            .product-card {
                background-color: $color-terciary;
                color: $color-primary;

                .product-image{
                    img{
                        object-fit: cover;
                        height: auto;
                    }
                }

                .icon {
                    svg {
                        stroke: $color-primary;
                    }
                }


            }
        }
    }

}

//definicion de estilos del footer

.footer {
    background-color: $color-footer-container;
    width: 100%;
    height: 461px;
}