//Definicion de Variables globales de color y tipografia 

$color-primary: rgba(255, 239, 231, 1); 
$color-secundary: #FFDAC6; 
$color-terciary: #BABD8D; 
$text-primary-color: #7C6A0A; 
$color-footer-container: #FA9500; 
$color-text-map: rgba(232, 100, 36, 1); 
$font-stack: 'IBM Plex Sans',
sans-serif;


//Definicion de estilos del body de la pagina

body{
    margin: 0px;
    padding: 0px;
    background-color: $color-primary;
    font-family: $font-stack;
}

//definicion de estilos del navbar de la pagina web

.navbar{
    background-color: $color-primary;
    width: auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    color: $text-primary-color;
    padding: 15px;
    p{
       font-size: 30px; 
       line-height: 39px;
       color: $text-primary-color; 
       font-style: normal;
       font-weight: 500;
       padding-left: 30px;
    }
    .icons{
        display: flex;
        flex-direction: row;
        gap: 15px;
        button{
            background: none;
            border-style: none;
            svg {
                stroke: $text-primary-color;
                width: 36px;
                height: 36px;
            }
        }            
    }

}


//definicion estilos de los main section 

.main-section{
    width: 100%;
    height: auto;
}

//definicion de estilos del footer

.footer{
    background-color: $color-footer-container;
    width: 100%;
    height: 461px;
}